<form action="" method="post" id="articles-new-form">
  <label>
    <input type="text" name="title" placeholder="タイトルを入力してください" />
  </label>
  <div id="articles-new-form-editor">
    <div id="editor">
      <div><b>エディター</b></div>
      <textarea name="body" rows="10" id="editor-textarea" placeholder="# 見出し&#13;&#13;テキストテキストテキスト"></textarea>
    </div>
    <div id="preview">
      <div><b>プレビュー</b></div>
      <div id="preview-area">
      </div>
    </div>
  </div>
  <div style="text-align: right;">
    <button type="submit">公開</button>
  </div>
</form>